<h1>My Articles</h1>

<table>

  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @articles.each do |article| %>
  <tbody>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td>Placeholder</td>
    </tr>
    <% end %>
  </tbody>

</table>