<div class="container" id="home-container">    
  <div class="page-content">
    <div class="hero custom-hero p-5 text-center shadow-lg rounded shadow-lg">
        <br><br><br><br><br><br><br>
        <h1 class="display-4 hero-text">Welcome To Freya's Blog!</h1>
        <p class="lead">This is a simple hero unit</p>
        <p>It uses utility classes for whatever....</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-light btn-lg mb-5 mx-5 btn-text" %>
    </div>
  </div>  
</div>



