<div class="container" id="home-container">    
    
    <div class="hero custom-hero">
        <h1 class="display-4">Welcome to my blog!</h1>
        <p class="lead">This is a simple hero unit</p>
        <hr class="my-4">
        <p>It uses utility classes for whatever....</p>
        <a href="" class="btn btn-dark btn-lg text-white mb-5 mx-5">Read more</a>

    </div>
</div>

<%= link_to 'Articles List', articles_path %>
<%= link_to 'About Me', about_path %>