@import "bootstrap";

html, body {
    height:100%;
    background-color: rgb(243, 237, 234);
}

h1 {
    color: #3e2727;
    font-family:fantasy;
}

.btn-article {
    background-color: #3e2727;
    color:rgb(214, 201, 193);
    font-family:fantasy;
}


.page-content{
    flex: 1 0 auto;
    background-color: rgb(214, 201, 193) !important;
}

.navbar {
    background-color: #3e2727 !important;
}

.nav-link {
    color: rgb(214, 201, 193) !important;
}

.navbar #logo {
    float: left;
    font-size: 1.5rem;
    color: rgb(214, 201, 193);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family:fantasy;
    font-weight: bold;
}

.custom-hero {
    background-image: asset-url('pens.jpeg');
    color: rgb(251, 247, 238);
    text-shadow: 2px 2px  #3e2727;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px
    
  }

  .btn-text {
    text-shadow: 0.1px 0.1px #3e2727;
  }

  .footer-text {
    color: rgb(214, 201, 193);
  }

.title-text {
    color:#3e2727;
    font-family: fantasy;
}

.form-label-text {
    color:#3e2727;
    font-family: fantasy;
}


#home-container {
   margin-top: 25px; 
}

#sticky-footer {
    background-color: #3e2727 !important;
    flex-shrink: none;

}

