@import "bootstrap";

html, body {
    height:100%;
    background-color: rgb(243, 237, 234);
}

.page-content{
    flex: 1 0 auto;
    background-color: rgb(214, 201, 193) !important;
}

.navbar {
    background-color: #3e2727 !important;
}

.nav-link {
    color: rgb(214, 201, 193) !important;
}

.navbar #logo {
    float: left;
    font-size: 1.5rem;
    color: rgb(214, 201, 193);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-weight: bold;
}

.custom-hero {
    background-image: asset-url('pens.jpeg');
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px
    
  }

  .footer-text {
    color: rgb(214, 201, 193);
  }

#home-container {
   margin-top: 25px; 
}

#sticky-footer {
    background-color: #3e2727 !important;
    flex-shrink: none;

}

