<% if @category.errors.any? %>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <h4 class="alert-heading">The following errors prevented the category from saving:</h4>
        <% @category.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="container mt-5">
  <h2>Create New Category</h2>
  <%= render 'form' %>
</div>

<div class="mb-3 text-center">
  <%= link_to '[Cancel and return to Categories list]', categories_path, class:'text-secondary' %>
</div>
